body{
background-color:#EECDFC;
overflow:hidden;
margin:0px;
}

#heading{
margin-top:90px;
text-align:center;
font-size:100px;
color:purple;
margin-top:0px;
}

#menubar{
display:flex;
flex-direction:row;
background-color:purple;
width:100%;
height:15vh;
}

#left{
float:left;
width:10%;
}

#right ul{
	display:inline-flex;
	list-style:none;
	float:right;
	        
	padding:15px;
        width:90%;
	color:white;
	margin-top:0px;
	justify-content:right;
}

#right ul li{
justify-content:space-between;
width:60px;
margin-top:15px;
margin-down:15px;
text-align:right;
margin-left:200px;
}
#right ul li a
{
text-decoration:none;
color:white;
}
#right .active{
display:flex;
flex-direction:row;
background-color:blue;
color:white;
width:20%;
text-decoration:none;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:70px;
border:2px solid white;
border-radius:8px;
font-size:20px;
}

#right .active1{
display:flex;
flex-direction:row;
background-color:blue;
color:white;
width:50%;
text-decoration:none;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:90px;
border:2px solid white;
border-radius:8px;
font-size:20px;
}

#right .active1:hover{
background-color:#EEBAFE;
color:black;}

#right .active:hover{
background-color:#EEBAFE;
color:black;}

.container{
display:flex;
flex-direction:row;
flex-wrap:wrap;
margin-top:0px;
}

#left1{
float:left;
width:30vh;
height:69.5vh;
color:purple;
font-family:'Bungee',cursive;
text-align:center;
background-color:#EECDFC;
padding-top:80px;
margin-top:0px;
font-size:20px;
border:2px solid purple;
text-decoration:none;
}

#left11{
text-decoration:none;
color:purple;
padding:3px;
padding-left:50px;
padding-right:50px;

}

#left11:hover{
background-color:purple;
color:white;
}

#left12{
text-decoration:none;
color:purple;
padding:3px;
padding-left:25px;
padding-right:25px;
}

#left12:hover{
background-color:purple;
color:white;
}

#left13{
text-decoration:none;
color:purple;
padding:3px;
padding-left:55px;
padding-right:55px;
}

#left13:hover{
background-color:purple;
color:white;
}

#left14:hover{
background-color:purple;
color:white;
}

#ok{
font-family:'Calibri';
text-decoration:none;
font-size:20px;
text-align:center;
border-radius:8px;
padding-top:10px;
padding-bottom:10px;
padding-left:40px;
padding-right:40px;
background-color:purple;
color:white;
}

#ok:hover{
background-color:#A402E7;
color:black;
}

#center{
float:center;
width:170vh;
height:80vh;
color:black;
border:2px solid purple;
font-family:'Bungee Shade',cursive;
text-align:center;
font-size:40px;
}

#center1{

float:center;
width:170vh;
height:80vh;
color:black;
border:2px solid purple;
font-family:Calibri;
text-align:center;

}

#center2{
float:center;
width:170vh;
height:80vh;
color:black;
border:2px solid purple;
font-family:Calibri;
font-size:20px;
text-align:left;
}

#center3{

float:center;
width:170vh;
height:80vh;
color:purple;
border:2px solid purple;
font-family:'Bungee',cursive;
font-size:70px;
text-align:center;
}
#center4{
float:center;
width:170vh;
height:80vh;
color:purple;
border:2px solid purple;
font-family:'Bungee',cursive;
line-height:54px;
text-align:center;
font-size:30px;
}

#contact{
margin-left:10px;}

#add{
text-decoration:none;
font-size:20px;
justify-content:right;
border-radius:8px;
padding:2px;
}

#add:hover{
background-color:purple;
color:white;}

#edit{
text-align:center;
font-size:20px;
}


#button:hover{
background-color:white;
}

#a1{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:475px;
padding-right:484px;
background-color:#C96AF1;
color:purple;
}

#a2{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:510px;
padding-right:513px;
background-color:#C96AF1;
color:purple;
}
#a3{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:510px;
padding-right:520px;
background-color:#C96AF1;
color:purple;
}
#a4{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:545.5px;
padding-right:544px;
background-color:#C96AF1;
color:purple;
}
#a5{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:533px;
padding-right:533px;
background-color:#C96AF1;
color:purple;
}
#a6{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:400px;
padding-right:400px;
background-color:#C96AF1;
color:purple;
}
#a7{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:600px;
padding-right:540px;
background-color:#C96AF1;
color:purple;
}
#a8{
text-decoration:none;
font-size:18px;
border:2px solid purple;
padding-left:610px;
padding-right:600px;
background-color:#C96AF1;
color:purple;
}

#a1:hover{
background-color:purple;
color:white;
}
#a1:hover{
background-color:purple;
color:white;
}
#a1:hover{
background-color:purple;
color:white;
}
#a2:hover{
background-color:purple;
color:white;
}
#a3:hover{
background-color:purple;
color:white;
}
#a4:hover{
background-color:purple;
color:white;
}
#a5:hover{
background-color:purple;
color:white;
}
#a6:hover{
background-color:purple;
color:white;
}
#a7:hover{
background-color:purple;
color:white;
}
#a8:hover{
background-color:purple;
color:white;
}

#addbook{
margin-top:40px;
margin-down:60px;
margin-left:320px;
padding-left:80px;
padding-right:80px;
background-color:purple;
color:white;
border:2px solid purple;
border-radius:8px;
font-size:15px;
width:500px;
height:500px;
}

#submitbook{
background-color:#F16AD8;
border: 2px solid #F16AD8;
border-radius:8px;
padding-left:20px;
padding-right:20px;
padding-top:7px;
padding-bottom:12px;
font-size:25px;
}

#aa1{
text-decoration:none;
background-color:purple;
color:white;
font-size:20px;
border:2px solid purple;
border-radius:8px;
padding-left:40px;
padding-right:40px;
}

#aa2{
text-decoration:none;
background-color:purple;
color:white;
font-size:20px;
border:2px solid purple;
border-radius:8px;
padding-left:15px;
padding-right:15px;
}

#aa3{
text-decoration:none;
background-color:purple;
color:white;
font-size:20px;
border:2px solid purple;
border-radius:8px;
padding-left:20px;
padding-right:20px;
}

#aa4{
text-decoration:none;
background-color:purple;
color:white;
font-size:20px;
border:2px solid purple;
border-radius:8px;
padding-left:40px;
padding-right:40px;
}

#aa1:hover{
background-color:#A45896;
color:white;
}