body{
overflow:hidden;
margin:0px;
}

#menubar{
display:flex;
flex-direction:row;
background-color:#43A1BA;
width:100%;
height:15vh;
}

#heading{
text-align:center;
font-size:50px;
height:10vh;
border:2px solid #B6EFFE;
font-family:'Bungee Shade',cursive;
margin-top:5px;
}

#left1{
float:left;
width:10%;
}
#right1 ul{
	display:inline-flex;
	list-style:none;
	float:right;
	        
	padding:15px;
        width:90%;
	color:white;
	margin-top:0px;
	justify-content:right;
}

#right1 ul li{
justify-content:space-between;
width:60px;
margin-top:15px;
margin-down:15px;
text-align:right;
margin-left:200px;
}
ul li a
{
text-decoration:none;
color:white;
}
.active{
display:flex;
flex-direction:row;
background-color:#006E8D;
color:white;
width:20%;
text-decoration:none;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:72px;
border:2px solid white;
border-radius:8px;
font-size:20px;
}

.active1{
display:flex;
flex-direction:row;
background-color:#006E8D;
color:white;
width:50%;
text-decoration:none;
padding-top:10px;
padding-bottom:10px;
padding-left:15px;
padding-right:70px;
border:2px solid white;
border-radius:8px;
font-size:20px;
}

.active1:hover{
background-color:#B6EFFE;
color:black;}

.active:hover{
background-color:#B6EFFE;
color:black;}


#container{
display:flex;
flex-direction:row;
flex-wrap:wrap;
margin-top:0px;
}

#left{
float:left;
width:40vh;
height:120vh;
background-color:#B6EFFE;
padding-top:30px;
border:2px solid #43A1BA;
font-size:30px;
line-height:50px;
font-family:'Bungee',cursive;
}

#left11{
text-decoration:none;
color:#006E8D;

padding-left:13px;
padding-right:14px;

}

#left11:hover{
background-color:#006E8D;
color:white;
}

#left12{
text-decoration:none;
color:#006E8D;

padding-left:52px;
padding-right:50px;
}

#left12:hover{
background-color:#006E8D;
color:white;
}

#left13{
text-decoration:none;
color:#006E8D;

padding-left:3px;
padding-right:3px;
margin-top:20px;
}

#left13:hover{
background-color:#006E8D;
color:white;
}

#intro{
background-color:#006E8D;
border:2px solid #006E8D;
border-radius:8px;
font-size:20px;
margin-top:10px;
font-family:'Bungee',cursive;
width:70vh;
margin-left:350px;
}

#right{
float:right;
width:159.9vh;
height:120vh;
background-color:#B6EFFE;
text-align:center;
border:2px solid #43A1BA;
}

img{
border:2px solid #006E8D;
border-radius:5px;
margin-left:30px;
}


#a1{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:420px;
padding-right:465px;
background-color:#43A1BA;
color:white;
}

#a2{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:473px;
padding-right:473px;
background-color:#43A1BA;
color:white;
}
#a3{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:470.3px;
padding-right:480px;
background-color:#43A1BA;
color:white;
}
#a4{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:500px;
padding-right:513px;
background-color:#43A1BA;
color:white;
}
#a5{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:487px;
padding-right:500px;
background-color:#43A1BA;
color:white;
}
#a6{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:360px;
padding-right:365px;
background-color:#43A1BA;
color:white;
}
#a7{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:532px;
padding-right:532px;
background-color:#43A1BA;
color:white;
}
#a8{
text-decoration:none;
font-size:18px;
border:2px solid #006E8D;
padding-left:567px;
padding-right:567px;
background-color:#43A1BA;
color:white;
}

#a1:hover{
background-color:#006E8D;
color:white;
}
#a1:hover{
background-color:#006E8D;
color:white;
}

#a2:hover{
background-color:#006E8D;
color:white;
}
#a3:hover{
background-color:#006E8D;
color:white;
}
#a4:hover{
background-color:#006E8D;
color:white;
}
#a5:hover{
background-color:#006E8D;
color:white;
}
#a6:hover{
background-color:#006E8D;
color:white;
}
#a7:hover{
background-color:#006E8D;
color:white;
}
#a8:hover{
background-color:#006E8D;
color:white;
}

#right2{
float:right;
width:159.9vh;
height:120vh;
background-color:#B6EFFE;
text-align:center;
border:2px solid #43A1BA;
font-family:'Bungee',cursive;
line-height:54px;
font-size:30px;
}


#contact1{
float:right;
width:159.9vh;
height:120vh;
background-color:#B6EFFE;
font-size:20px;
border:2px solid #43A1BA;
}

#disclaimer1{
float:right;
width:159.9vh;
height:120vh;
background-color:#B6EFFE;

border:2px solid #43A1BA;
text-align:center;
}


#issue{

color:#006E8D;
font-size:20px;
border:2px solid #006E8D;
border-radius:8px;
margin-top:40px;
height:75vh;
width:80vh;
text-align:center;
margin-left:280px;
font-family:'Bungee',cursive;
padding-top:5px;
}

#issued{
background-color:#43A1BA;
font-size:30px;
border:2px solid #43A1BA;
border-radius:8px;
}

#issued:hover{
background-color:#B6EFFE;
}

#i1{
margin-left:60px;
}
#i2{
margin-left:95px;
}
#i3{
margin-left:40px;
}
#i4{
margin-left:0px;
}
#i5{
margin-left:20px;
}
#i6{
margin-left:70px;
}
#i7{
margin-left:95px;
}


#right #info{
background-color:#006E8D;
border:2px solid #006E8D;
border-radius:8px;
font-size:20px;
font-family:'Bungee',cursive;
width:90vh;
height:60vh;
margin-left:300px;
margin-top:40px;
}